:root {
  --color-templateBlack: #383230;
  --color-templateWhite: #fbfbfd;
  --color-templateGrey: #8f91a0;
  --color-templatePrimiary: #2921a0;
  --color-templatePrimaryFade: #716cc2;
  --color-templateGreen: #4fa078;
  --color-templateGreenFade: #e7fef2;
  --color-templateRed: #df525d;
  --color-templateRedFade: #fbebf1;
}

* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

ul {
  padding-left: 0;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid var(--color-templatePrimiary);
}

.navbar-title {
  font-size: 1.25rem;
  font-weight: 500;
}

.navbar-count-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  margin-left: 0.4em;
  background-color: var(--color-templatePrimiary);
}

.navbar-count {
  font-size: 1.25rem;
  margin-bottom: 0.15rem;
  color: var(--color-templateWhite);
}

.habits {
  padding: 0.5em;
  padding-top: 2em;
}
.add-form {
  width: 100%;
  text-align: center;
}

.add-input {
  margin-right: 0.2em;
  min-width: 250px;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  color: var(--color-templatePrimiary);
  border: 1px solid var(--color-templatePrimiary);
}

.add-button {
  height: 100%;
  font-size: 1rem;
  padding: 0.6rem 1rem;
  background-color: var(--color-templatePrimiary);
  color: var(--color-templateWhite);
  border-radius: 5px;
}

.add-button:hover {
  background-color: var(--color-templatePrimaryFade);
}

.habit {
  font-size: 1.25rem;
  padding: 0.5em;
  list-style: none;
  width: 100%;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.habit-meta-container {
  display: flex;
}

.habit-count-container {
  width: 1.75rem;
  height: 1.75rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
  border-radius: 50%;
  background-color: var(--color-templatePrimiary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.habit-count {
  margin-bottom: 0.2rem;
  font-size: 1.25rem;
  color: var(--color-templateWhite);
}

.habit-button {
  font-size: 1.75rem;
  margin: 0 0.1em;
  background-color: transparent;
}

.habit-button:hover {
  opacity: 0.8;
}

.habit-increase,
.habit-decrease {
  color: var(--color-templateGreen);
}

.habit-delete {
  font-size: 1.5rem;
  color: var(--color-templateRed);
}
.habit-delete:hover {
  opacity: 0.4;
}
.habit-reset-container {
  width: 100%;
  text-align: end;
}
.habits-reset {
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.2em 1em;
  border: 1px solid var(--color-templatePrimiary);
  border-radius: 5px;
  background-color: transparent;
  color: var(--color-templatePrimiary);
}

.habits-reset:hover {
  border: 1px solid var(--color-templatePrimaryFade);
  color: var(--color-templatePrimaryFade);
}
